@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);/*
    DEMO STYLE
*/

body {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #1d1d1f;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  /*    color: #7386D5;*/
  background: #171719;
}

#sidebar ul li.active > a,
a[aria-expanded=true] {
  /*    color: #fff;*/
  background: #171719;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #171719;
}

ul ul a:hover {
  color: #a8cae2;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.logout {
  color: #fff;
  border: 1px solid;
}

a.logout:hover {
  color: #de4f4f;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }

  #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }

  .profile img {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 50px;
    height: 50px;
    border-radius: 9999px !important;
  }
}

/*Content*/

.panel {
  border: 0;
}

.panel-container {
  padding: 28px;
  background: #f8f9fa;
}

.panel-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.panel-heading .fa-toggle-up,
.panel-heading .fa-toggle-down {
  font-size: 17px;
}

.panel-default .panel-heading {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444;
}

.panel-footer {
  background: #fff;
  border-top: 1px solid #e9ecf2;
}

.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #5e829c;
}

.panel-widget .text-muted {
  margin-top: -6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.panel-widget .large {
  color: #373b45;
  font-size: 3em;
}

.alert {
  border-radius: 5px;
  box-shadow: 1px 5px 9px 0 rgba(47, 44, 44, 0.2);
  border: none;
  margin: 10px 0;
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: #fff;
  float: right;
  font-size: 22px;
  line-height: 20px;
  transition: 0.3s;
}

.closebtn:hover {
  cursor: pointer;
}

.alert-danger {
  background-color: #ff3133;
}

.alert-success {
  background-color: #3cb878;
}

.alert-info {
  background-color: #318dff;
}

.alert-warning {
  background-color: #fcb03b;
}

.form-group input[type=file] {
  font-size: 1rem;
}

button.btn.btn-primary.file {
  padding: 15px;
  margin: 50px;
  font-size: 1rem;
}

/* MODAL */

.modalCenter {
  top: 50% !important;
 
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

